.badge-bottom {
    position: absolute;
    bottom: 18%;
    right: 45%;
    background-color: #006cc0;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.badge-bottom i {
    font-size: 15px;
}